/*-------------------------
	Simple reset
--------------------------*/



*{
	margin:0;
	padding:0;
}



/*-------------------------
	General Styles
--------------------------*/



html{
	min-height:100%;
	position:relative;
	
}

body{
	color:#fff;
	min-height:600px;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}

header, footer{
	display:block;
}



/*-------------------------
	Header Styles
--------------------------*/



header{
	padding:75px;
	position: relative;
}

header:before,
#dropbox:before{
	display: block;
	content:'';
	height:4px;
	width:100%;
	position: absolute;
	top:0;
	left:0;
}


h1{
	height:92px;
	overflow: hidden;
	text-indent: -99999px;
	text-align: center;
}



/*-------------------------
	Dropbox Element
--------------------------*/



#dropbox
{
    background: lightblue; 
	min-height: 490px;
	padding-bottom: 0px;
    width: 100%;
    float: left;
    /*margin:0 auto;*/
    font-family:"Microsoft YaHei", "ו", "Segoe UI", sans-serif;
}

#gameCanvas{
	float: left;
}


#dropbox .message{
	font-size: 80%;
    text-align: center;
    padding-top:160px;
    display: block;
    font:445% normal;
}

#dropbox .message i
{
	color:#eee;
	font-size:40%;
}

#dropbox:before{
	border-radius:3px 3px 0 0;
}

.clear{clear:both;}  

/*-------------------------
	Image Previews
--------------------------*/



#dropbox .preview{
	width:100%;
	margin: 5px 0;
	position: relative;
	text-align: center;
}

#dropbox .preview img{
	/*max-width: 540px;
	max-height:380px;*/
	border:3px solid #fff;
	display: block;
	box-shadow:0 0 2px #000;
}

#dropbox .imageHolder{
	display: inline-block;
	position:relative;
}

#dropbox .uploaded{
	top:0;
	left:0;
	height:100%;
	width:100%;
}

#dropbox .preview.done .uploaded{
	display: block;
}



/*-------------------------
	Progress Bars
--------------------------*/



#dropbox .progressHolder{
	position: absolute;
	background-color:#252f38;
	height:12px;
	width:100%;
	left:0;
	bottom: 0;
	
	box-shadow:0 0 2px #000;
}

#dropbox .progress{
	background-color:#2586d0;
	position: absolute;
	height:100%;
	left:0;
	width:0;
	
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

#dropbox .preview.done .progress{
	width:100% !important;
}



/*----------------------------
	The Footer
-----------------------------*/



footer{
	display:block;
	background-color: #151517;
    
    position:fixed;
	width:100%;
	height:70px;
	bottom:0;
	left:0;
	z-index: 100000;
	
	box-shadow: 0 -1px 2px #171717;
	-webkit-box-shadow: 0 -1px 2px #171717;
	-moz-box-shadow: 0 -1px 2px #171717;
}

footer h2{
	font-size:20px;
	font-weight:normal;
	left:50%;
	margin-left:-400px;
	padding:22px 0;
	position:absolute;
	width: 540px;
	color:#eee;
}

footer a.tzine,a.tzine:visited{
	background:url("../img/tzine.png") no-repeat right top;
	border:none;
	text-decoration:none;
	color:#FCFCFC;
	font-size:12px;
	height:70px;
	left:50%;
	line-height:31px;
	margin:23px 0 0 110px;
	position:absolute;
	top:0;
	width:290px;
}

.diaContent
{ text-align:left;}

#gameCanvas{
	margin: 0 auto;
}

